private key:

-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDuCJl9V3Gs/6vh
KBcQdAxTvEiNznbIox6ip8W8VwkovPzrJ8urWKqsAi53w33DPI36Hvw1GhnFZOlG
qf2Qh9uhSV5NUtw7b66/YIBj9WUs9hFCU60m4S6xYSZcrdXngKGJYy2BVWDpfgoQ
oCiHBY7x9+g0qIEKU/EBJStmNN459vLHteHPQR6tKFYszmqpQPG0V/D5SvgN1r6D
izNvL0KdZl5lCzMN7aKfP+EMnODiqUUu4yoR7fKpbMRCUD8rlWzyY1DQVEG4FDOQ
F0PvntJ9aTTYFHD97+pTvxCkwaS/MIQy84MwSGAYhA+JPFilAV4Sfgs/mKKqz4WQ
A09jo8sRAgMBAAECggEAAQ1uI86shroQlre/w9uWf8gy/C0HNjeElnimTuZl3ggu
uFm01znr8xkf9FkQ/plZ7EWMLQ4uV7KyC8U1772uX1FWKq0mIq1kN6MyfXannbjM
Dl0f5IPNqic9P/RHutzVIgN7hKvlvac4SKGTp6FYY/pKEfGzidyW3IU0qBstscez
KlAb0krW4CYfKww/lng4ctF/NtDm7974Fd2aeju3WFD8kKYkKUv10+GI9KP8WysK
rAV9tabZOUL4c6V8UsAHwalDnDYSCYrEhm0YlRmhJ1YMvj2jc2wJVGY92rAqn49w
2+vLEFZugTVGQ3yQLWGizXjTIQMwFZJJjuMRPXMCYQKBgQD+W6nAMbLjK9+KqQG/
zu5Dq3UPTXOI4j6sPDwX1R1LIdypdCAgPlQvgVAPgFoCPdGRrKihDrb8mHprnAb7
Dfu+JnexGDFDXk+/hzqLn8ECbTqX/s87xHuSEFD1nD3MciA8R5AYYFg/no0Md1vK
gOZmj83bHI2RVIniLz2wEOLo4QKBgQDvkfWrIrk1M8zZbTwQyqB/ERaI+bjqX6wP
s1jkDTCwkydOYIxqrXqaVOyrF12KvsYi89kdMlrLyKm236fgwfqi5zc7itjgZdRe
qRDWGkRTw/OSafLurbIJurBhSxZVg8NJ+Vow7BooHrjh0eyhsx1Ajtoi/fiYZ9ol
m4V6WcQ4MQKBgADofuCqzMK242NxWwo+SOeA8zgMxL7WX/bpeCV1o1cjVdBdE8hJ
sK9CvPBxOuELK3ZjsW5xyQF54eYEdpnq4N068e518acV7R738qOQ/HVvwmfMhxzl
hLNuz3sxBZ93QNo2PzN3FJmVjVdgDbnZX/k5xjhkD7VXIe7m0EeSp9zBAoGAcb6P
Ma3O2Z+6hxECD8bk5O+sD2ThkwXRn7K7ZauNjoiPhPr6MDwlldj0dVcmppVlZXr5
fo9F5LNlQNp3zpLK+UVmR/LofcJbToZe5AicoFjM8Js1KHV3rn7g95C7Deb9dcXa
OJgg4yOTDESrYSq1nM02bJ7AxTupq2lnumucakECgYEAvWfsFjLwKGB3jp6XfKSK
2tcMmRlmQimsH2tV2SECudQON9tjJmULZycT8//fQPU2A8MZqt3GxFq9+fIrRz3T
RM5uHv11fSTYImgCbzR5XP4T7/6T2eKM81fegXxRU1m/7uHPtpXueVqmnQEkkoZB
Mot9dlqNyPX7nJOborJEiYQ=
-----END PRIVATE KEY-----

.csr file :

-----BEGIN CERTIFICATE REQUEST-----
MIIDDzCCAfcCAQAwgZMxCzAJBgNVBAYTAkdCMQ4wDAYDVQQIDAVFc3NleDESMBAG
A1UEBwwJQnJlbnR3b29kMRcwFQYDVQQKDA5Hb29kRGVzaWduLmNvbTEXMBUGA1UE
CwwOR29vZERlc2lnbi5jb20xEjAQBgNVBAMMCWxvY2FsaG9zdDEaMBgGCSqGSIb3
DQEJARYLYWJjQGFiYy5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
AQDuCJl9V3Gs/6vhKBcQdAxTvEiNznbIox6ip8W8VwkovPzrJ8urWKqsAi53w33D
PI36Hvw1GhnFZOlGqf2Qh9uhSV5NUtw7b66/YIBj9WUs9hFCU60m4S6xYSZcrdXn
gKGJYy2BVWDpfgoQoCiHBY7x9+g0qIEKU/EBJStmNN459vLHteHPQR6tKFYszmqp
QPG0V/D5SvgN1r6DizNvL0KdZl5lCzMN7aKfP+EMnODiqUUu4yoR7fKpbMRCUD8r
lWzyY1DQVEG4FDOQF0PvntJ9aTTYFHD97+pTvxCkwaS/MIQy84MwSGAYhA+JPFil
AV4Sfgs/mKKqz4WQA09jo8sRAgMBAAGgNjAVBgkqhkiG9w0BCQcxCAwGVGgwbWE1
MB0GCSqGSIb3DQEJAjEQDA5Hb29kRGVzaWduLmNvbTANBgkqhkiG9w0BAQsFAAOC
AQEA4DN2acNK+3Kqkk2w+SU2Q9sTaIQENLLKlWXedrr0WBmLE9Sx9Xd/n9oKQsQZ
H7D3d78HwUFMKhagX5Qtnby9i8UZQyeWqmwN0FEVy649H/osOdsFrx+kcSnwULu4
iUO4uG3Cbb4zr3Y8IDQKxKsBtcGlEJFG0HIX3rfmQHLEd8JIhzqTKYnXL0dttjR5
zYt+N1XJ8wx3UnscoN1K8yYab3a+5gh9lMaud1M6FG7D4DES0qM4orLMt6/rywYB
/hf+FCSJKuxvOquoqEz6pfyMlcYZ+JKyBh/rDUelgfz3xf8qSKIX1zman2Ytybf2
xV5WDoP/h+pJEMVWGPHJD+Hp5w==
-----END CERTIFICATE REQUEST-----

.crt file :

-----BEGIN CERTIFICATE-----
MIID1zCCAr+gAwIBAgIUalnAMp9ZO7zG1zn8L7z53nJcJYcwDQYJKoZIhvcNAQEL
BQAwgZMxCzAJBgNVBAYTAkdCMQ4wDAYDVQQIDAVFc3NleDESMBAGA1UEBwwJQnJl
bnR3b29kMRcwFQYDVQQKDA5Hb29kRGVzaWduLmNvbTEXMBUGA1UECwwOR29vZERl
c2lnbi5jb20xEjAQBgNVBAMMCWxvY2FsaG9zdDEaMBgGCSqGSIb3DQEJARYLYWJj
QGFiYy5jb20wHhcNMjUwMjI0MTY0ODUyWhcNMjUwNDEwMTY0ODUyWjCBkzELMAkG
A1UEBhMCR0IxDjAMBgNVBAgMBUVzc2V4MRIwEAYDVQQHDAlCcmVudHdvb2QxFzAV
BgNVBAoMDkdvb2REZXNpZ24uY29tMRcwFQYDVQQLDA5Hb29kRGVzaWduLmNvbTES
MBAGA1UEAwwJbG9jYWxob3N0MRowGAYJKoZIhvcNAQkBFgthYmNAYWJjLmNvbTCC
ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAO4ImX1Xcaz/q+EoFxB0DFO8
SI3OdsijHqKnxbxXCSi8/Osny6tYqqwCLnfDfcM8jfoe/DUaGcVk6Uap/ZCH26FJ
Xk1S3Dtvrr9ggGP1ZSz2EUJTrSbhLrFhJlyt1eeAoYljLYFVYOl+ChCgKIcFjvH3
6DSogQpT8QElK2Y03jn28se14c9BHq0oVizOaqlA8bRX8PlK+A3WvoOLM28vQp1m
XmULMw3top8/4Qyc4OKpRS7jKhHt8qlsxEJQPyuVbPJjUNBUQbgUM5AXQ++e0n1p
NNgUcP3v6lO/EKTBpL8whDLzgzBIYBiED4k8WKUBXhJ+Cz+YoqrPhZADT2OjyxEC
AwEAAaMhMB8wHQYDVR0OBBYEFMaDuU2QL8q/mxVmIpzaUbRvRVVqMA0GCSqGSIb3
DQEBCwUAA4IBAQDplmi+JvJ+c965buBkTpcGyFaaoMq3QAeE2ERAPHRhsutwAv4U
0P5o3jMN63620Nyi4Du01TP951+qwVp10dcb268uJrylbDV1VLHldmriDhZl9eBz
1cTDMDkMwfZGF4GSuyZigaui4QuvsBzq/Uu7If/RA60b5n/gZXrc2w+jZxzlWoic
fQau34rKVYdlBo5hSQwrCLDTYTMfb/mJM1RmADn6qza8UVainDxgTITe1+pWxVGB
xKtO0TPjxtPEwgDo97NK+qn6gwoYtmDbsATBTe086JaRDJJQ1lyIF+5biWtzHyw+
P34RmphCpGZ7FP9V6d+3RST8G+6RNWR56QFL
-----END CERTIFICATE-----
